PROJECT_ROOT=D:\algo_trading_scanner\algo-trading-scanner-v2
EMAIL_ENABLED=false

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_sender_email@gmail.com
SMTP_PASS=your_app_password

EMAIL_TO=yogendra.gaonkar@gmail.com